*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  padding: 250px;
  margin: 20px;
  background-color: #F5F5DC;
  place-items: center;
}

.container {
  background-color: #CD5C5C;
  padding: 20px;
  height: 200px;
  width: 400px;
  border-style: solid;
  position: relative;
  margin: 20px;
}

h1 {
  padding: 10px;
  text-align: center;
}

.center{
  text-align: center;
  margin: auto;


}
